In [1]:
import pandas as pd
import numpy as np

In [2]:
lista = ["Yenifer", "Andrea", "Christian"]

In [10]:
series = pd.Series(lista)
print(series)

0      Yenifer
1       Andrea
2    Christian
dtype: object

In [5]:
#vamos a generar series con diccionarios
#np.nan es para que me aparezca que nohay un # definido
diccionario = {'Java':5.0, 'Python':10.0, 'C++':5.5, 'Cobol':np.nan}

In [7]:
serie_2 = pd.Series(diccionario)

In [8]:
serie_2

Java       5.0
Python    10.0
C++        5.5
Cobol      NaN
dtype: float64

In [13]:
#como acceder a los elementos de la serie 1 y serie 2
serie_2[3]

nan

In [14]:
serie_2["Java"]

5.0

In [28]:
serie_2

Java       5.0
Python    10.0
C++        5.5
Cobol      NaN
dtype: float64

In [16]:
#par saber los elementos
serie_2.size

4

In [17]:
#saber que indices tiene la serie
serie_2.index

Index(['Java', 'Python', 'C++', 'Cobol'], dtype='object')

In [18]:
#una ventaja de pandas que no se puede con diccionario, puedo llamar varias claves a la vez
serie_2[["Java", "C++", "Cobol"]]

Java     5.0
C++      5.5
Cobol    NaN
dtype: float64

Descripción mate de series

In [20]:
serie_2.count()

3

In [21]:
np.nan

nan

In [25]:
#sumar y hacer suma acumulativa
#quiero la suma de todos los valores de la serie2
serie_2.sum()

20.5

In [26]:
#acumulativa
serie_2.cumsum()

Java       5.0
Python    15.0
C++       20.5
Cobol      NaN
dtype: float64

In [30]:
serie_2

Java       5.0
Python    10.0
C++        5.5
Cobol      NaN
dtype: float64

In [27]:
#conteo de valores repetidos dentro de la serie
serie_2.value_counts()

5.0     1
10.0    1
5.5     1
dtype: int64

In [31]:
#min y max
serie_2.min()

5.0

In [32]:
serie_2.max()

10.0

In [33]:
#Descriptvo estadistico 
serie_2.mean()  #quiero sacar la media de esta serie

6.833333333333333

In [34]:
#desviación estandar de esta serie
serie_2.std()

2.753785273643051

In [35]:
#sacar información estadistica 
serie_2.describe()

count     3.000000
mean      6.833333
std       2.753785
min       5.000000
25%       5.250000
50%       5.500000
75%       7.750000
max      10.000000
dtype: float64

In [36]:
#dataframes
#es muy util hacer dataframes con diccionarios
frutas = ["manzana", "tomate", "aguacate", "pera"]
masa = ["2", "0.5", "1", "10"]
pais = ["peru", "colombia", "mexico", "argentina"]

In [37]:
dato = {"frutas":frutas, "masa:":masa, "pais":pais}

In [38]:
dato

{'frutas': ['manzana', 'tomate', 'aguacate', 'pera'],
 'masa:': ['2', '0.5', '1', '10'],
 'pais': ['peru', 'colombia', 'mexico', 'argentina']}

In [39]:
data = pd.DataFrame(dato)

In [44]:
data

     frutas masa:       pais
0   manzana     2       peru
1    tomate   0.5   colombia
2  aguacate     1     mexico
3      pera    10  argentina

#cómo abrir un cvs

In [4]:
Emisiones = pd.read_csv("Emisiones_CO2.csv", sep="|", encoding="latin1")

In [48]:
Emisiones

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN
...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,"9.732,22","0,731866885"
11123,ZWE,Zimbabue,África subsahariana,2008,"7.682,37","0,569255428"
11124,ZWE,Zimbabue,África subsahariana,2009,"8.239,75","0,600521157"
11125,ZWE,Zimbabue,África subsahariana,2010,"9.028,15","0,646072745"
11126,ZWE,Zimbabue,África subsahariana,2011,"9.860,56","0,691697897"

In [6]:
Emisiones["Año"].value_counts()

1986    214
1961    214
1988    214
1989    214
1990    214
1991    214
1992    214
1993    214
1994    214
1995    214
1996    214
1997    214
1998    214
1999    214
2000    214
2001    214
2002    214
2003    214
2004    214
2005    214
2006    214
2007    214
2008    214
2009    214
2010    214
1987    214
2011    214
1985    214
1972    214
1962    214
1963    214
1964    214
1965    214
1966    214
1967    214
1968    214
1969    214
1970    214
1971    214
1973    214
1984    214
1974    214
1975    214
1976    214
1977    214
1978    214
1979    214
1980    214
1981    214
1982    214
1983    214
1960    213
Name: Año, dtype: int64

In [ ]:
#si queiro trabajar con un archivo de excel
datos_1 = pd.read_excel("prueba/henry.xlsx")

In [7]:
#Paara transformar el dataframe a csv
Emisiones.to_csv("salida.csv",index=False) #el index=False es para que no me saque los indices

In [8]:
#Como acceder a algun elemento del dataframe
#loc es de localization
Emisiones.iloc[1]   #ingreso el # de indice al que quiero acceder

Código de país                                             ABW
Nombre del país                                          Aruba
Región                                 América Latina y Caribe
Año                                                       1961
CO2 (kt)                                                   NaN
CO2 per cápita (toneladas métricas)                        NaN
Name: 1, dtype: object

In [9]:
Emisiones.iloc[1:10]

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN
5,ABW,Aruba,América Latina y Caribe,1965,NaN,NaN
6,ABW,Aruba,América Latina y Caribe,1966,NaN,NaN
7,ABW,Aruba,América Latina y Caribe,1967,NaN,NaN
8,ABW,Aruba,América Latina y Caribe,1968,NaN,NaN
9,ABW,Aruba,América Latina y Caribe,1969,NaN,NaN

In [10]:
#si quiere seccionar algunas columnas
Emisiones.iloc[2000:2020 ,1:4]

     Nombre del país               Región   Año
2000         Camerún  África subsahariana  1984
2001         Camerún  África subsahariana  1985
2002         Camerún  África subsahariana  1986
2003         Camerún  África subsahariana  1987
2004         Camerún  África subsahariana  1988
2005         Camerún  África subsahariana  1989
2006         Camerún  África subsahariana  1990
2007         Camerún  África subsahariana  1991
2008         Camerún  África subsahariana  1992
2009         Camerún  África subsahariana  1993
2010         Camerún  África subsahariana  1994
2011         Camerún  África subsahariana  1995
2012         Camerún  África subsahariana  1996
2013         Camerún  África subsahariana  1997
2014         Camerún  África subsahariana  1998
2015         Camerún  África subsahariana  1999
2016         Camerún  África subsahariana  2000
2017         Camerún  África subsahariana  2001
2018         Camerún  África subsahariana  2002
2019         Camerún  África subsahariana  2003

In [11]:
anio = Emisiones["Año"]

In [12]:
conteo = 0
for i in range(len(anio)):
    conteo += anio.iloc[i]

In [13]:
conteo

22092684

In [14]:
#forma más costa de hacer lo de arriba gracias a pandas
anio.sum()

22092684

In [ ]:
#para cambiar un elemento de la dataframe
Emisiones.loc[1,"Código de país"] = "Hola"